<pre id="editor">graph G{
   book0001 [shape="rect"][label="쿠르초 말라파르테,\n 망가진 세계"][color="indianred2"]
   book0002 [shape="rect"][label="한병철, \n피로사회"]
   book0003 [shape="rect"][label="어니스트 베커, \n죽음의 부정"][color="indianred2"]
   book0004 [shape="rect"][label="단 카츠,\n 내 머리 속에 도마뱀 길들이기"]
   book0005 [shape="rect"][label="임레 케르테스, \n운명"][color="indianred2"]
   book0006 [shape="rect"][label="장 주네,\n 도둑일기"][color="azure2"]
   book0007 [shape="rect"][label="아가타 크리스토프,\n 존재의 세가지 거짓말"][color="indianred2"]
   book0008 [shape="rect"][label="아가타 크리스토프,\n 문맹"]
   book0009 [shape="rect"][label="아가타 크리스토프,\n 어제"]
   book0010 [shape="rect"][label="존 하비,\n 이토록 황홀한 블랙"][color="indianred2"]
   book0011 [shape="rect"][label="막스 피카르트,\n 침묵의 세계"][color="indianred2"]
   book0012 [shape="rect"][label="알베르토 망구엘,\n 독서의 역사"]
   book0013 [shape="rect"][label="메리언 울프,\n 책읽는 뇌"][color="indianred2"]
   book0014 [shape="rect"][label="요시다 유키히로,\n 일 빨리 끝내는 사람의 42가지 비법"]
   book0015 [shape="rect"][label="모티머 J. 애들러,\n How to read a book"][color="indianred2"]
   book0016 [shape="rect"][label="아빈저 연구소,\n 상자 밖에 있는 사람"]
   book0017 [shape="rect"][label="카를로 로벨리,\n 만약 시간이 존재하지 않는 다면"]
   book0018 [shape="rect"][label="카를로 로벨리,\n 시간은 흐르지 않는다"]
   book0019 [shape="rect"][label="플루타르코스의 윤리집, \n 수다에 관하여"]
   book0020 [shape="rect"][label="베셀 반 데어 콜크,\n 몸은 기억한다-트라우마가 남긴 흔적들"][color="indianred2"]
   book0021 [shape="rect"][label="존 버거,\n 다른 방식으로 보기"]
   book0022 [shape="rect"][label="다니엘 S.밀로,\n 굿 이너프, 평범한 종을 위한 진화론"]
   book0023 [shape="rect"][label="마이클 센델,\n 공정하다는 착각"]
   book0024 [shape="rect"][label="클라이브 폰팅,\n 녹색 세계사"]
   book0025 [shape="rect"][label="이나가키 히데히로, \n 전략가, 잡초"]
   book0026 [shape="rect"][label="리차드 세넷,\n 장인:현대문명이 잃어버린 생각하는 손"]
   book0027 [shape="rect"][label="오잔 바롤, \n 문샷"]

   theme0001 [shape="plain"][label="세계 질서와 개인"];
   theme0002 [shape="plain"][label="이방인(타자)의 문제\n타자 혐오가 위생 문제로 연결되는 구시대 체제"];
   theme0003 [shape="plain"][label="존재와 도덕"]
   theme0004 [shape="plain"][label="존재와 거짓말"]
   theme0005 [shape="plain"][label="쌍둥이"]
   theme0006 [shape="plain"][label="이집트 신화(남매결혼)"]
   theme0007 [shape="plain"][label="이방인(타자)의 이해"]
   theme0008 [shape="plain"][label="인과관계"]
   theme0009 [shape="plain"][label="신체와 정신"]
   theme0010 [shape="plain"][label="권위"]
   theme0011 [shape="plain"][label="능력주의"]
   theme0012 [shape="plain"][label="엘리트 주의,\n혹은 과학 신화"]
   theme0013 [shape="plain"][label="최적화"]
   theme0014 [shape="plain"][label="기존 경제학의 한계(기술의 진보와 꾸준한 생산). 리카도, 마르크스가 틀린 점"]
   theme0015 [shape="plain"][label="까다로운 기준"]
   theme0016 [shape="plain"][label="왜 사람은 당장의 효용이 없어보이는\n 장기적인 목적에 투자할까?"]

   book0001 -- book0002
   book0001 -- book0003
   book0001 -- theme0001
   book0001 -- theme0002
   book0001 -- theme0003
   book0002 -- theme0002
   book0005 -- theme0001
   book0005 -- theme0002
   book0006 -- theme0001
   book0006 -- theme0002
   book0006 -- theme0003
   book0006 -- theme0004
   book0006 -- theme0007
   book0007 -- theme0003
   book0007 -- theme0004
   book0007 -- theme0005
   book0007 -- book0008
   book0007 -- book0009
   book0009 -- theme0005
   book0009 -- theme0006
   book0010 -- book0011
   book0011 -- book0012
   book0012 -- book0013
   book0013 -- book0015
   book0013 -- theme0007
   book0016 -- theme0007
   book0017 -- book0018
   book0017 -- theme0008
   book0020 -- theme0007
   book0020 -- theme0009
   book0020 -- theme0010
   book0021 -- theme0010
   book0022 -- theme0011
   book0022 -- theme0013
   book0023 -- theme0011
   book0024 -- theme0013
   book0024 -- theme0014
   book0025 -- theme0013
   book0025 -- theme0015
   book0026 -- theme0015
   book0024 -- theme0016
   book0027 -- theme0016

   theme0003 -- theme0004
   theme0010 -- theme0012
   theme0011 -- theme0012
 }
</pre>
